<!DOCTYPE html>
<html lang="es" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	
	<nav data-th-fragment="nav"	class="navbar bg-body-tertiary">
			  <div class="container row bg-body-tertiary">
			  	<div class=col-2>
			  		<a class="navbar-brand" href="/principal/index">
				    <img src="/image/iconos/unju.png" alt="icono" width="150" class="img-fluid">
				  </a>
			  		</div>
				 <div class=col-10>
					    <h1 class="text-center">FACULTAD DE INGENIERíA</h1>
					    <h2>
					   		Siendo proactivos, responsables de nuestro propio destino
					    </h2>
				 </div>
			</div>
		</nav>
		
		<script data-th-href="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"
		type="text/javascript"></script> 
</body>
</html>