<!DOCTYPE html>
<html lang="es" >
<head>
	<meta charset="UTF-8">
	<title>TRABAJO PRACTICO N4</title>
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/styles.css"></link>
</head>
	<body>
		<div class="container" >
					<header id="header" >
						<nav data-th-replace="~{fragments/header::navbar}">
						</nav>
						<div  data-th-replace="~{fragments/header::ntabs}">
						</div>
					</header>
			<div class=row>
				<main class="col-9">
						<section data-th-replace="~{fragments/header::carrusel}">
						</section>
						<section data-th-replace="~{fragments/header::acordeon}">
						</section>
				</main>
				<aside class="col-3" >
					<div data-th-replace="~{fragments/header::card}">
					</div>
				</aside>
			</div >	
			<footer data-th-replace="~{fragments/header::foot}">
			</footer>
		</div>
		<script data-th-href="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"
		type="text/javascript"></script> 
	</body>
</html>